

<!DOCTYPE html>
<html lang="en">
    <div style="text-align: center;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1 h1 style="margin-top: 70px;">SIJARTA BY KELOMPOK BASDAT A</h1>
    <button onclick="location.href='{% url 'authentication:user_login' %}'">Login</button>
    <br>
    <br>
    <button onclick="location.href='{% url 'authentication:user_register' %}'">Register</button>
</body>
</html>
</div>
